# !!!! Команда просмотра ВСЕХ игнорируемых файлов
#git ls-files --other --ignored --exclude-standard 

# === Мой проект html ====
# Библиотеки jQuery в папке js
jquery-ui.js
jquery-1.11.1.js
# --------------------------

# Flask и с ним связанное
venv
*.pyc
staticfiles
.env
db.sqlite3
getting-started/*

*.py[cod]
__pycache__

# SQLite databases
*.sqlite

# Virtual environment
venv
