		#parent {
			width: 90%;  /* Ширина окна демонстрации  */
			margin: auto;  /* Центрирование посередине */
			position: relative;  /* Задать позиционирование родителю */
			border: 2px solid black;  /* Рамка */
			}
		#child-1 {
			position: absolute;  /* Позиционировани относительно предка */
			left: 200px;  /* Смещение от левого края */
			top: 100px;  /* Смещение от верха */
			height: 66px;  /* Высота элемента  */
			width: 66px;  /* Ширина элемента */
			border: 3px solid blue;  /* Рамка */
			background-image: url('img/sprite01.png');  /* Адрес фона */
			background-position: 1px 1px;  /*Позиция изображения */
  			background-repeat: no-repeat;  /* Не повторять */
  			z-index: 99;  /* Поверх остальных слоев */
		}
		#child-2 {
			height: 400px;  /* Большой див для размытого фона */
			background-image: url('img/sprite01.png');  /* Адрес фона  */
			background-position: 200px 100px;  /*Позиция изображения */
  			background-repeat: no-repeat;  /* Не повторять */
  			opacity: 0.2;  /* Видимость слабая */
  		}